Header {
    dock: top;
}

/* Chat Area */

ChatTurn {
    /* width: 100%; */
    /* max-width: 1fr; */
    /* box-sizing: border-box; */
    /* margin: 1 2;
    padding: 1 2; */

    /* border: solid gray; */
    height: auto;
    /* padding: 1; */
    /* height: 100%; */
    /* height: 40; */
}

ChatTurn .user {
    align: right middle;
    height: auto;
    /* padding: 1; */
    /* border: green; */
}

ChatTurn .assistant {
    align: left middle;
    /* margin-top: 1; */
    /* margin-bottom: 1; */
    height: auto;
    /* border: green; */
}

.user #chatturn-markdown {
    /* border: $primary; */
    /* color: $primary; */
    /* background: $boost; */
    color: $text;
    background: $primary-background;
    border: $primary-background;
    height: auto;
    width: 70%;
}

.assistant #chatturn-markdown {
    border: $secondary-background-darken-1;
    color: $text;
    height: auto;
    background: $secondary-background-darken-1;
    width: 70%;
    margin: 1;
}

#chat-container {
    border: round $primary;
    /* box-sizing: content-box; */

    /* height: auto; */
    /* height: 20; */
}

#spacer {
    border: red;
    /* height: auto; */
    /* height: 100%; */
}

/* Input Area */
/* Prompt Input is the full input area for the user including the label and input area
and its surrounding Scrollbar */
PromptInput {
    height: auto;
    margin-bottom: 1;
    margin-left: 1;
    margin-right: 1;
    padding-right: 1;
    /* border: round green; */
}

VerticalScroll PromptInput {
    height: 10;
    border: red;
}

/* MultiLineInput is the inputarea inside the scrollbar */
TextArea2 {
    border: red;
    border-title-color: $secondary;
    border-title-background: $primary;
    border-title-align: right;
    border-title-style: bold;
}

MultiLineInput {
    border: $primary-background;
    background: $primary-background;
    overflow-x: auto
}

#instructions {
    color: $text;
}

/* Debug Pane */

DebugPane {
    /* border: solid green; */
    width: 20%;
    height: auto;
    display: none;
    background: $panel;
    /* overflow-x: scroll; */
}

.-show-debug DebugPane {
    display: block;
}

/* Need to specify height for scroll to work */
DebugPaneText {
    height: auto;
}

VerticalScroll DebugPane {
    border: red;
    height: auto;
}

.debugpanetext--value {
    color: auto;
}

.debugpanetext--key {
    color: $secondary;
}